<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <servlet>
        <servlet-name>TestStationServlet</servlet-name>
        <servlet-class>servlet.TestStationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestStationServlet</servlet-name>
        <url-pattern>/TestStationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PersonServlet</servlet-name>
        <servlet-class>servlet.PersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonServlet</servlet-name>
        <url-pattern>/PersonServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>servlet.MainController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CounterController</servlet-name>
        <servlet-class>servlet.CounterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CounterController</servlet-name>
        <url-pattern>/CounterController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VenteController</servlet-name>
        <servlet-class>servlet.VenteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VenteController</servlet-name>
        <url-pattern>/VenteController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RavitaillementController</servlet-name>
        <servlet-class>servlet.RavitaillementController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RavitaillementController</servlet-name>
        <url-pattern>/RavitaillementController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StockRestantController</servlet-name>
        <servlet-class>servlet.StockRestantController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StockRestantController</servlet-name>
        <url-pattern>/StockRestantController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProfitController</servlet-name>
        <servlet-class>servlet.ProfitController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfitController</servlet-name>
        <url-pattern>/ProfitController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DetteController</servlet-name>
        <servlet-class>servlet.DetteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetteController</servlet-name>
        <url-pattern>/DetteController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CreanceController</servlet-name>
        <servlet-class>servlet.CreanceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreanceController</servlet-name>
        <url-pattern>/CreanceController</url-pattern>
    </servlet-mapping>

</web-app>